@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove stuff from input boxes */
/* @layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
} */

.bordershadow-scale-600 {
    box-shadow:
    /* rgba(0,0,0,.012) 0 0 0 0, */
    /* rgba(0,0,0,.012) 0 0 0 0, */
    rgba(0,0,0,.22) 0 1px 1px 0,
    #dfe3e6 0 0 0 1px,
    /* rgba(0,0,0,.012) 0 0 0 0, */
    /* rgba(0,0,0,.012) 0 0 0 0, */
    rgb(64 68 82/2%) 0 2px 5px 0;
}


/* .right-shadow { */
    /* box-shadow: inset -6px 0 9px -10px rgba(0,0,0,0.8); */
/* } */

/* @import "embla.css";
@import "sandbox.css"; */